.header{
    background-color: #db72f1;
    padding: 20px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .menu ul {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  .menu ul li a{
    display: block;
    color: #333;
    font-size: 14px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
  }